amqp
arrow
asgiref
beautifulsoup4
billiard
binaryornot
celery
certifi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cookiecutter
Django
django-dump-die
django-filter
django-tailwind
djangorestframework
django-rest-framework
idna
Jinja2
kombu
Markdown
markdown-it-py
MarkupSafe
mdurl
pillow
prompt_toolkit
psycopg2-binary
Pygments
python-dateutil
python-decouple
python-dotenv
python-slugify
PyYAML
redis
requests
rich
six
soupsieve
sqlparse
text-unidecode
types-python-dateutil
tzdata
urllib3
vine
wcwidth
