{% extends "base.html" %}

{% block title %}Code Session {% endblock %}


{% block content %}
<div class="container mx-auto mt-5">
    {% if post_id %}
    <h1 class="text-center text-2xl font-bold mb-4">Code Editor for {{ post_id }}</h1>
    {% else %}
    <h1 class="text-center text-2xl font-bold mb-4">Code Editor</h1>
    {% endif %}
    <select id="languageSelector" class="mb-4">
        <option value="python">Python</option>
        <option value="javascript">JavaScript</option>
        <option value="java">Java</option>
        <option value="csharp">C#</option>
        <option value="cpp">C++</option>
    </select>
    <div id="editor" class="w-full h-64" style="height:25em;width:75%;"></div>
    <button type="submit" class="btn btn-light mb-4 mt-4" id="runCode">Run code</button>
    <div id="result" class="w-full h-64" style="height:250px;width:75%"></div>
</div>

{% endblock %}

{% block extra_js %}
{% comment %} for monaco  {% endcomment %}

<script>var require = { paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs' } }</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/loader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/editor/editor.main.nls.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/editor/editor.main.js"></script>
<script>const EXECUTION_URL = '{% url 'execute_code' %}'</script>

<script>
    function getOs() {
        if (navigator.appVersion.indexOf("Win") != -1) return "Windows";
        if (navigator.appVersion.indexOf("Mac") != -1) return "MacOS";
        if (navigator.appVersion.indexOf("X11") != -1) return "UNIX";
        if (navigator.appVersion.indexOf("Linux") != -1) return "Linux";

        return "Unknown OS";
    }

    const button = document.getElementById('runCode');

    switch(getOs()) {
        case "MacOS":
            button.textContent += ' (⌘ + Enter)';
            break;
        case "Windows":
            button.textContent += ' (windows + Enter)';
            break;
        case "Linux":
            button.textContent += ' (Alt + Enter)';
            break;
    }

</script>

{% if post_id %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const postId = "{{ post_id }}";  // Assuming `post_id` is passed to the template context
        const socket = new WebSocket(`ws://${window.location.host}/ws/codesession/${postId}/`);

        let editor;
        let currentLanguage = 'python';
        let debounceTimer;
        let resultWindow = null;

        require(['vs/editor/editor.main'], function() {
            editor = monaco.editor.create(document.getElementById('editor'), {
                language: 'python',
                theme: 'vs-dark',
            });

            resultWindow = monaco.editor.create(document.getElementById('result'), {
                value: null,
                theme: 'vs-dark',
                readOnly: true,
                contextmenu: false,
                minimap: {
                    enabled: false
                },
                selectOnLineNumbers: false,
                cursorBlinking: false,
                cursorWidth: 0,
            });

            document.getElementById('languageSelector').addEventListener('change', function() {
                currentLanguage = this.value;
                monaco.editor.setModelLanguage(editor.getModel(), currentLanguage);
                socket.send(JSON.stringify({
                    'type': 'language_change',
                    'language': currentLanguage
                }));
            });

            editor.onDidChangeModelContent(() => {
                clearTimeout(debounceTimer);
                debounceTimer = setTimeout(() => {
                    const code = editor.getValue();
                    socket.send(JSON.stringify({
                        'type': 'code_change',
                        'code': code
                    }));
                }, 300);
            });

            socket.onmessage = function(event) {
                const data = JSON.parse(event.data);
                if (data.type === 'init') {
                    if (currentLanguage === null) {
                        currentLanguage = data.language;
                        monaco.editor.setModelLanguage(editor.getModel(), currentLanguage);
                        document.getElementById('languageSelector').value = currentLanguage;
                    }
                    if (editor.getValue() !== data.code) {
                        editor.setValue(data.code);
                    }
                } else if (data.type === 'code_change') {
                    const code = data['code'];
                    if (editor.getValue() !== code) {
                        editor.setValue(code);
                    }
                } else if (data.type === 'language_change') {
                    const language = data['language'];
                    if (currentLanguage !== language) {
                        currentLanguage = language;
                        monaco.editor.setModelLanguage(editor.getModel(), currentLanguage);
                        document.getElementById('languageSelector').value = currentLanguage;
                    }
                }
            };

            function runCode() {
                const currentModel = editor.getModel();
                const code = currentModel.getValue();

                const options = {
                    method: 'POST',
                    body: JSON.stringify({"code": code, "language": currentLanguage}),
                };

                fetch(EXECUTION_URL, options)
                    .then(response => {
                        const data = response.json().then(data => {
                            const output = `Code exited with exit code ${data['exit_code']}

Output:
${data['output']}`;
                            resultWindow.setValue(output);
                        });
                    })
                    .catch(error => {
                      console.error("Error fetching data:", error);
                      // Handle errors
                    });
            };

            document.getElementById('runCode').addEventListener('click', runCode);

            document.addEventListener("keydown", (keyDownEvent) => {
                if (keyDownEvent.metaKey && keyDownEvent.key == 'Enter') {
                    keyDownEvent.preventDefault();
                    runCode();
                }
            });

        });
    });
</script>
{% else %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let editor;
        let currentLanguage = 'python';
        let resultWindow = null;

        require(['vs/editor/editor.main'], function() {
            editor = monaco.editor.create(document.getElementById('editor'), {
                language: 'python',
                theme: 'vs-dark',
            });

            resultWindow = monaco.editor.create(document.getElementById('result'), {
                value: null,
                theme: 'vs-dark',
                readOnly: true,
                contextmenu: false,
                minimap: {
                    enabled: false
                },
                selectOnLineNumbers: false,
                cursorBlinking: false,
                cursorWidth: 0,
            });

            document.getElementById('languageSelector').addEventListener('change', function() {
                currentLanguage = this.value;
                monaco.editor.setModelLanguage(editor.getModel(), currentLanguage);
            });

            function runCode() {
                const currentModel = editor.getModel();
                const code = currentModel.getValue();

                const options = {
                    method: 'POST',
                    body: JSON.stringify({"code": code, "language": currentLanguage}),
                };

                fetch(EXECUTION_URL, options)
                    .then(response => {
                        const data = response.json().then(data => {
                            const output = `Code exited with exit code ${data['exit_code']}

Output:
${data['output']}`;
                            resultWindow.setValue(output);
                        });
                    })
                    .catch(error => {
                      console.error("Error fetching data:", error);
                      // Handle errors
                    });
            };

            document.getElementById('runCode').addEventListener('click', runCode);

            document.addEventListener("keydown", (keyDownEvent) => {
                if (keyDownEvent.metaKey && keyDownEvent.key == 'Enter') {
                    keyDownEvent.preventDefault();
                    runCode();
                }
            });

        });
    });
{% endif %}
</script>
{% endblock %}
