{% extends "base.html" %}

{% block title %}group info{% endblock %}

{% block content %}

<div class="gap-1 px-6 flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-row max-w-[1200px] flex-1">
    <!--filter-->

      <!-- Main content (posts) -->
    
      <div class="flex flex-col flex-[3] p-20 @container">
      <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
      <div id="allPosts">
        {% for post in posts %}
        <div class="post flex flex-col items-stretch justify-center gap-1 py-4 mb-4 bg-zinc-800 rounded p-4">
          <div class=" flex flex-col items-stretch justify-center gap-1 py-4">

              {% comment %} <form method="POST" action="{% url 'editPost' post.id %}">
                {% csrf_token %}
                <button type="submit" class="text-gray-500 hover:text-gray-300" style="background: none; border: none; padding: 0;">
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.414 2.586a2 2 0 0 1 0 2.828l-1.414 1.414-2.828-2.828L14.586 2.586a2 2 0 0 1 2.828 0zM4 14.828V17h2.172l6.086-6.086-2.828-2.828L4 14.828z"></path>
                      </svg>
                </button>
              </form> {% endcomment %}
              
              {% if user.username == post.author or user_id == groupe_author_id %}
              <div class="flex justify-end -mt-10">
                <form method="POST" action="{% url 'deleteGroupPost' post.id %}">
                    {% csrf_token %}
                    <button type="submit" class="text-gray-500 hover:text-gray-300" style="background: none; border: none; padding: 0;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                    </button>
                </form>
                </div>
                {% endif %}
              <!-- Delete button -->

            <p class="text-[#CBCBCB] text-sm font-normal leading-normal">{{ post.created_at }}</p>
            <p class="text-[#FFFFFF] text-lg font-bold leading-tight tracking-[-0.015em]">{{ post.author }}</p>
            <div class="flex items-end gap-3 justify-between">
              <div class="flex flex-col gap-1">
                <p class="text-[#CBCBCB] text-base font-normal leading-normal">
                  {{ post.content|truncatechars:600 }}
                </p>
                <div class="flex items-center gap-2">
                  <button id="like" onclick="likePost({{ post.id }}, '{{ user_id }}')" class="flex items-center justify-center gap-1">
                    <svg class="w-6 h-6" fill="#FFFFFF" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                    <span style="color: #808080;">{{ post.likes|length }} likes</span>
                  </button>
                  <a href="{% url 'groupPostInfo' name=groupe.name id=post.id %}" class="flex items-center">                    <svg class="w-6 h-6" fill="#FFFFFF" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" >
                        <path d="M 25 4 C 12.316406 4 2 12.972656 2 24 C 2 30.1875 5.335938 36.066406 10.949219 39.839844 C 10.816406 40.890625 10.285156 43.441406 8.183594 46.425781 L 7.078125 47.992188 L 9.054688 48 C 14.484375 48 18.15625 44.671875 19.363281 43.394531 C 21.195313 43.796875 23.089844 44 25 44 C 37.683594 44 48 35.027344 48 24 C 48 12.972656 37.683594 4 25 4 Z"></path>
                    </svg>
                    <span style="color: #808080;">{{ post.comment_count }} comments</span>
                     </a>
                </div>
              </div>
              <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 bg-[#FFFFFF] text-black text-sm font-medium leading-normal">
                <a href="{% url 'groupPostInfo' name=groupe.name id=post.id %}">more</a>
              </button>
            </div>
          </div>
        </div>
        {% endfor %}
       </div>
      </div>
    </div>
    
    <!-- Sidebar (group info and create post) -->
    
    <div class="flex flex-col items-center p-4 w-72 ml-4 bg-zinc-800 rounded-lg w-10 absolute right-2" style="max-height: 500px; overflow-y: auto;"> 
      {% if user_id == groupe_author_id  %}
      <a href="{% url 'updateGroupInfo' groupe.name %}" class="ml-60"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-pencil-fill" viewBox="0 0 16 16">
          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
        </svg>
      </a>
      {% endif%}
        <div
        class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32"
        style='background-image: url("{{ groupe.group_pic}}");'
        ></div>
       
      <h2 class="text-[#FFFFFF] text-xl font-bold mt-2">{{ groupe.name }}</h2>
      <p class="text-[#CBCBCB]">{{ groupe.description }}</p>
    
      <div class="text-center my-4">
        <a href="{% url 'groupPost' name=groupe.name %}" class="inline-block bg-gray-900 text-white py-2 px-4 rounded hover:bg-gray-950 transition-colors">Create post</a>
      </div>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <!-- Filter posts but at the left side -->
    
    
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function likePost(postId, userId) {
        var url = "{{ LOCALHOST }}" + '/api/groupe/publications/' + postId + '/like/';
        //var url = 'http://localhost:80/api/groupe/publications/' + postId + '/like/';
        
        $.ajax({
            url: url,
            type: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {
                'author': userId,
                'groupe': '{{ groupe.id }}'
            },
            success: function(response) {
                $('.layout-content-container').load(location.href + ' .layout-content-container');
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
    }


    document.addEventListener('DOMContentLoaded', () => {
        const search = document.getElementById('search_base');
        const allGroupe = document.getElementById('allPosts'); 
        const groupes = allGroupe.querySelectorAll('.post');
      
        search.addEventListener('input', (e) => {
          const value = e.target.value.toLowerCase();
          groupes.forEach(groupe => {
            const name =  groupe.querySelector('.text-base.font-normal').textContent.toLowerCase();
            if (name.includes(value)) {
              groupe.style.display = 'flex';
            } else {
              groupe.style.display = 'none';
            }
          });
        });
      });
      
</script>


{% endblock %}
