{% extends "base.html" %}

{% block title %}group info{% endblock %}

{% block content %}

<div class="gap-1 px-6 flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-row max-w-[1200px] flex-1">
    <!--filter-->
    <div class="layout-content-container flex flex-col w-10 absolute left-0">
        <div class="flex gap-3 p-3 flex-wrap pr-4">
          <button class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#333333] pl-2 pr-2">
            <div class="text-[#FFFFFF]" data-icon="Funnel" data-size="20px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M230.6,49.53A15.81,15.81,0,0,0,216,40H40A16,16,0,0,0,28.19,66.76l.08.09L96,139.17V216a16,16,0,0,0,24.87,13.32l32-21.34A16,16,0,0,0,160,194.66V139.17l67.74-72.32.08-.09A15.8,15.8,0,0,0,230.6,49.53ZM40,56h0Zm108.34,72.28A15.92,15.92,0,0,0,144,139.17v55.49L112,216V139.17a15.92,15.92,0,0,0-4.32-10.94L40,56H216Z"
                ></path>
              </svg>
            </div>
            <p class="text-[#FFFFFF] text-sm font-medium leading-normal">All Posts</p>
            <div class="text-[#FFFFFF]" data-icon="CaretDown" data-size="20px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
              </svg>
            </div>
          </button>
          <button class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#333333] pl-2 pr-2" id="latest">
            <div class="text-[#FFFFFF]" data-icon="FilmReel" data-size="20px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M224,216H183.36A103.95,103.95,0,1,0,128,232h96a8,8,0,0,0,0-16ZM40,128a88,88,0,1,1,88,88A88.1,88.1,0,0,1,40,128Zm88-24a24,24,0,1,0-24-24A24,24,0,0,0,128,104Zm0-32a8,8,0,1,1-8,8A8,8,0,0,1,128,72Zm24,104a24,24,0,1,0-24,24A24,24,0,0,0,152,176Zm-32,0a8,8,0,1,1,8,8A8,8,0,0,1,120,176Zm56-24a24,24,0,1,0-24-24A24,24,0,0,0,176,152Zm0-32a8,8,0,1,1-8,8A8,8,0,0,1,176,120ZM80,104a24,24,0,1,0,24,24A24,24,0,0,0,80,104Zm0,32a8,8,0,1,1,8-8A8,8,0,0,1,80,136Z"
                ></path>
              </svg>
            </div>
            <p class="text-[#FFFFFF] text-sm font-medium leading-normal">Latest</p>
            <div class="text-[#FFFFFF]" data-icon="CaretDown" data-size="20px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
              </svg>
            </div>
          </button>
          <button class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#333333] pl-2 pr-2" id="popular">
            <div class="text-[#FFFFFF]" data-icon="TrendUp" data-size="20px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M240,56v64a8,8,0,0,1-16,0V75.31l-82.34,82.35a8,8,0,0,1-11.32,0L96,123.31,29.66,189.66a8,8,0,0,1-11.32-11.32l72-72a8,8,0,0,1,11.32,0L136,140.69,212.69,64H168a8,8,0,0,1,0-16h64A8,8,0,0,1,240,56Z"
                ></path>
              </svg>
            </div>
            <p class="text-[#FFFFFF] text-sm font-medium leading-normal">Popular</p>
            <div class="text-[#FFFFFF]" data-icon="CaretDown" data-size="20px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
              </svg>
            </div>
          </button>
          <button class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#333333] pl-2 pr-2">
            <div class="text-[#FFFFFF]" data-icon="Users" data-size="20px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M117.25,157.92a60,60,0,1,0-66.5,0A95.83,95.83,0,0,0,3.53,195.63a8,8,0,1,0,13.4,8.74,80,80,0,0,1,134.14,0,8,8,0,0,0,13.4-8.74A95.83,95.83,0,0,0,117.25,157.92ZM40,108a44,44,0,1,1,44,44A44.05,44.05,0,0,1,40,108Zm210.14,98.7a8,8,0,0,1-11.07-2.33A79.83,79.83,0,0,0,172,168a8,8,0,0,1,0-16,44,44,0,1,0-16.34-84.87,8,8,0,1,1-5.94-14.85,60,60,0,0,1,55.53,105.64,95.83,95.83,0,0,1,47.22,37.71A8,8,0,0,1,250.14,206.7Z"
                ></path>
              </svg>
            </div>
            <p class="text-[#FFFFFF] text-sm font-medium leading-normal">Following</p>
            <div class="text-[#FFFFFF]" data-icon="CaretDown" data-size="20px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
              </svg>
            </div>
          </button>
          <button class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#333333] pl-2 pr-2">
            <div class="text-[#FFFFFF]" data-icon="User" data-size="20px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"
                ></path>
              </svg>
            </div>
            <p class="text-[#FFFFFF] text-sm font-medium leading-normal">My Posts</p>
            <div class="text-[#FFFFFF]" data-icon="CaretDown" data-size="20px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
              </svg>
            </div>
          </button>
        </div>
      </div>
    
      <!-- Main content (posts) -->
    <div class="flex flex-col flex-[3] p-20 @container">
      <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
        {% for post in posts %}
        <div class="flex flex-col items-stretch justify-center gap-1 py-4 bg-zinc-800 rounded p-4">
          <div class="flex flex-col items-stretch justify-center gap-1 py-4">
            <p class="text-[#CBCBCB] text-sm font-normal leading-normal">{{ post.created_at }}</p>
            <p class="text-[#FFFFFF] text-lg font-bold leading-tight tracking-[-0.015em]">{{ post.author }}</p>
            <div class="flex items-end gap-3 justify-between">
              <div class="flex flex-col gap-1">
                <p class="text-[#CBCBCB] text-base font-normal leading-normal">
                  {{ post.content|truncatechars:600 }}
                </p>
                <div class="flex items-center gap-2">
                  <button id="like" onclick="likePost({{ post.id }}, '{{ user_id }}')" class="flex items-center justify-center gap-1">
                    <svg class="w-6 h-6" fill="#FFFFFF" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 10c0 1.105.895 2 2 2h4V8H4c-1.105 0-2 .895-2 2zm14-2v4h4c0-1.105-.895-2-2-2s-2-.895-2-2zm-2 6.414l-4 4-4-4H5l5 5 5-5h-3V8h3l-5-5-5 5h3v6.414z"></path>
                    </svg>
                    <span style="color: #808080;">{{ post.likes|length }} likes</span>
                  </button>
                  <button onclick="commentPost({{ post.id }})" class="flex items-center justify-center gap-1">
                    <svg class="w-6 h-6" fill="#FFFFFF" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 10c0 1.105.895 2 2 2h4V8H4c-1.105 0-2 .895-2 2zm14-2v4h4c0-1.105-.895-2-2-2s-2-.895-2-2zm-2 6.414l-4 4-4-4H5l5 5 5-5h-3V8h3l-5-5-5 5h3v6.414z"></path>
                    </svg>
                    <span style="color: #808080;">{{ post.comments.count|length }} comments</span>
                  </button>
                </div>
              </div>
              <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 bg-[#FFFFFF] text-black text-sm font-medium leading-normal">
                <a href="{% url 'groupPostInfo' name=groupe.name id=post.id %}">more</a>
              </button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
    <!-- Sidebar (group info and create post) -->
    <div class="flex flex-col items-center p-4 w-72 ml-4 bg-zinc-800 rounded-lg w-10 absolute right-2" style="max-height: 500px; overflow-y: auto;"> 
        <div
        class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32"
        style='background-image: url("{{ groupe.group_pic}}");'
        ></div>
      <h2 class="text-[#FFFFFF] text-xl font-bold mt-2">{{ groupe.name }}</h2>
      <p class="text-[#CBCBCB]">{{ groupe.description }}</p>
      <div class="text-center my-4">
        <a href="{% url 'groupPost' name=groupe.name %}" class="inline-block bg-gray-900 text-white py-2 px-4 rounded hover:bg-gray-950 transition-colors">Create post</a>
      </div>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <!-- Filter posts but at the left side -->
    
    
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function likePost(postId, userId) {
        var url = 'http://localhost:8000/api/groupe/publications/' + postId + '/like/';
        
        $.ajax({
            url: url,
            type: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {
                'author': userId,
                'groupe': '{{ groupe.id }}'
            },
            success: function(response) {
                $('.layout-content-container').load(location.href + ' .layout-content-container');
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
    }
</script>


{% endblock %}
