{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mb-5">
            <h2 class="display-5 fw-bold text-center">Welcome, {{ user.username }}!</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
          <div class="row gy-5 justify-content-center">
            <div class="col-12 col-lg-5">
              <!-- Here you can add the content of your social network, like the posts, the friends, etc. -->
              <!-- For example, a list of posts could look like this: -->
              {% for post in posts %}
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    <p class="card-text"><small class="text-muted">Posted by {{ post.author }} on {{ post.date }}</small></p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'logout' %}" class="btn btn-dark rounded-0 fs-6">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </section>{% endblock %}

