{% extends "base.html" %}

{% block content %}
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row">
      <!-- Left column: Options -->
      <div class="col-md-2 d-none d-md-block">
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none text-dark">Rechercher</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Envoyer des messages</a></li>
          <li><a href="#" class="text-decoration-none text-dark">Notifications</a></li>
        </ul>
      </div>

      <!-- Middle column: User posts -->
      <div class="col-md-6">
        <h5>Home</h5>

        <!-- Loop through user posts -->
        {% for post in user.posts %}
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Right column: Follows -->
      <div class="col-md-3 d-none d-md-block">
        <h5>users</h5>

        <!-- Loop through user follows -->
        {% for follow in user.follows %}
        <div class="card mb-3">
          <div class="card-body p-2">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <img src="{{ follow.profile_pic.url }}" class="rounded-circle" alt="Profile Picture" width="40" height="40">
              </div>
              <div class="flex-grow-1 ms-3">
                <h6 class="mb-0">{{ follow.username }}</h6>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
