{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

<div class="container mx-auto mt-5 text-center">
  <h1 class="text-center text-2xl font-bold mb-4">Code Editor</h1>
  <div class="container mb-4">
      <div class="row justify-content-center">
          <div class="col-md-8">
              <div class="mb-3 p-1">
                  <label for="sourceCodeFile" class="text-2xl font-bold mb-2">Or Upload Source Code</label>
                  <input class="rounded btn btn-light form-control" type="file" id="sourceCodeFile">
              </div>
          </div>
          <div class="col-md-4 mt-4">
              <select id="languageSelector" class="btn btn-light mb-4 text-left">
                  <option value="python">Python</option>
                  <option value="php">PHP</option>
                  <option value="javascript">JavaScript</option>
                  <option value="java">Java</option>
                  <option value="csharp">C#</option>
                  <option value="cpp">C++</option>
              </select>
          </div>
      </div>
  </div>
  <div id="editor" class="mx-auto" style="height:25em;width:75%;"></div>
  <div class="container mt-4">
      <div class="row justify-content-center">
          <div class="col-md-5">
              <button type="submit" class="btn btn-light mb-4 mt-4" id="runCode">Run code</button>
          </div>
          <div class="col-md-4">
              <div class="mb-3 p-1">
                  <label for="inputFile" class="text-2xl font-bold mb-2">Upload Input File (If needed)</label>
                  <input class="rounded btn btn-light form-control" type="file" id="inputFile" title="In case your program needs to access a file. WARNING: the file name should match the one used in the code to manipulate it.">
              </div>
          </div>
      </div>
  </div>
  <div id="result" class="mx-auto" style="height:250px;width:75%;"></div>
</div>
{% block content %}
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mb-5">
            <h2 class="display-5 fw-bold text-center text-[#CBCBCB]">Sign in</h2>
            <p class="text-center m-0 text-[#CBCBCB]">Don't have an account? <a href="{% url 'subscribe' %} " class="hover:text-[#808080]">Sign up</a></p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
          <div class="row gy-5 justify-content-center">
            <div class="col-12 col-lg-5">
              <form method="post">
                {% csrf_token %}
                <div class="row gy-3 overflow-hidden">
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control border-0 border-bottom rounded-3" name="username" id="username" placeholder="Username" required>
                      <label for="username" class="form-label">Username</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control border-0 border-bottom rounded-3" name="password" id="password" placeholder="Password" required>
                      <label for="password" class="form-label">Password</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="d-grid">
                      <button class="btn btn-lg btn-dark rounded-3 fs-6" type="submit">Log in</button>
                    </div>
                  </div>
                </div>
              </form>
              {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
              {% endif %}
              <div class="text-end">
                <a href="{% url 'resetPassword' %}" class="link-secondary text-decoration-none">Forgot password?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}