{% extends "base.html" %}

{% block title %}Post Detail{% endblock %}

{% block content %}
<div class="gap-1 px-6 flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div >
      <a href="{% url 'group' groupe.name %}" class="mt-4 px-4 py-2 bg-white rounded-full text-black">
        Back
      </a>
    </div>
    
    <!-- Section pour les informations du post -->
    <div class="flex flex-col items-center py-4">
      <p class="text-[#CBCBCB] text-sm font-normal leading-normal">{{ post.created_at }}</p>
      <h2 class="text-[#FFFFFF] text-xl font-bold mt-2">{{ post.author }}</h2>
      <p class="text-[#CBCBCB]">{{ post.content }}</p>
    </div>
    {% comment %} si il y'a une image l'affiche {% endcomment %}
    {% if post.image %}
    <div class="flex flex-col items-center py-4">
      <img src="{{ post.image }}" alt="Post image" class="w-full rounded" style="height: 400px; width: 400px;">
    </div>
    <div
      class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-10 w-10"
      style='background-image: url("{{ post.image|default:'https://cdn.usegalileo.ai/sdxl10/67309561-9bfc-4860-a4c1-b13311b8356b.png' }}");' 
     ></div>
    {% endif %}

    <div class="flex flex-col items-center py-4">
      <h3 class="text-[#FFFFFF] text-lg font-bold mt-2">Comments</h3>
      <ul class="w-full">
        {% for comment in comments %}
        <li class="text-[#CBCBCB] bg-gray-800 p-4 rounded mb-2">{{ comment.author }}: {{ comment.content }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="flex flex-col items-center py-4">
      <h3 class="text-[#FFFFFF] text-lg font-bold mt-2">Add a Comment</h3>
      <form method="POST" action="" class="w-full">
        {% csrf_token %}
        <textarea name="content" class="w-full h-32 p-2 bg-gray-800 text-[#CBCBCB] rounded mb-2" placeholder="Write your comment..." required></textarea>
        <button type="submit" class="mt-2 inline-block bg-gray-700 text-white py-2 px-4 rounded hover:bg-gray-950 transition-colors">Submit</button>
      </form>
    </div>
    <div class="flex flex-col items-center py-4">
      <a href="{% url 'codeSession' post.id %}" class="mt-2 inline-block bg-gray-700 text-white py-2 px-4 rounded hover:bg-gray-950 transition-colors">Collaborative Code Session</a>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function likePost(postId, userId) {
        var url = 'http://localhost:80/api/groupe/publications/' + postId + '/like/';
        
        $.ajax({
            url: url,
            type: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {
                'author': userId,
                'groupe': '{{ groupe.id }}'
            },
            success: function(response) {
                // Recharger juste la div qui contient les posts
                $('.layout-content-container').load(location.href + ' .layout-content-container');
            },
            error: function(xhr, status, error) {
                // Envoyer erreur dans la console
                console.log(xhr.responseText);
            }
        });
    }
</script>
{% endblock %}
