{% extends "base.html" %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<div class="p-4 container flex justify-center items-center min-h-screen">
  <div class="flex flex-col items-center justify-center rounded-xl bg-white shadow-lg p-8 max-w-md w-full">
      <h1 class="text-gray-800 text-lg font-bold mb-4">Update Profile</h1>
      <!-- Afficher l'image de profil actuelle si elle existe -->
      {% if user_profile.profile_pic %}
          <img src="{{ user_profile.profile_pic.url }}" alt="Profile Picture" class="mb-4 rounded-full w-24 h-24 object-cover">
      {% endif %}
      <form method="POST" action="{% url 'updateProfile' %}"  enctype="multipart/form-data" class="w-full">
          {% csrf_token %}
          <div class="mb-4">
              <label for="username" class="text-gray-600 text-sm font-normal">Username:</label>
              <input type="text" name="username" id="username" value="{{ user.username }}" class="w-full rounded px-4 py-2 text-gray-700 border border-gray-300" required>
          </div>
          <div class="mb-4">
              <label for="email" class="text-gray-600 text-sm font-normal">Email:</label>
              <input type="email" name="email" id="email" value="{{ user.email }}" class="w-full rounded px-4 py-2 text-gray-700 border border-gray-300" required>
          </div>
          <div class="mb-4">
              <label for="profile_pic" class="text-gray-600 text-sm font-normal">Image:</label>
              <input type="file" name="profile_pic" id="profile_pic" class="w-full rounded px-4 py-2 text-gray-700 border border-gray-300">
          </div>
          <div class="flex items-center justify-between">
              <button type="submit" class="rounded-full px-4 py-2 bg-blue-500 text-white font-medium hover:bg-blue-600">
                  Update
              </button>
              <a href="{% url 'home' %}" class="text-blue-500 hover:text-blue-800 font-bold text-sm">
                  Back
              </a>
          </div>
      </form>
  </div>
</div>
{% endblock %}