{% extends 'base.html' %}

{% block title %}
User Settings
{% endblock %}

{% block content %}
<div class="px-40 flex flex-1 justify-center py-5 "> <!-- Ajout de bg-gray-200 pour le fond gris -->
    <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
      <a href={%url 'deleteUser' user.username%} class="mb-4">
      <div class="flex items-center gap-4 bg-gray-500 px-4 min-h-[72px] py-2 justify-between rounded-xl">
        <div class="flex items-center gap-4">
          <div class="flex flex-col justify-center">
            <p class="text-[#CBCBCB] text-sm font-normal leading-normal line-clamp-2">Delete Account</p>
          </div>
        </div>
      </div>
      </a>
      <a href={% url 'updateProfile'%} class="mb-4">
        <div class="flex items-center gap-4 bg-gray-500 px-4 min-h-[72px] py-2 justify-between rounded-xl">
          <div class="flex items-center gap-4">
            <div class="flex flex-col justify-center">
              <p class="text-[#CBCBCB] text-sm font-normal leading-normal line-clamp-2">Update Account</p>
            </div>
          </div>
        </div>
        </a>
        <a href={% url 'updateUserBio'%} class="mb-4">
          <div class="flex items-center gap-4 bg-gray-500 px-4 min-h-[72px] py-2 justify-between rounded-xl">
            <div class="flex items-center gap-4">
              <div class="flex flex-col justify-center">
                <p class="text-[#CBCBCB] text-sm font-normal leading-normal line-clamp-2">Update User Bio</p>
              </div>
            </div>
          </div>
          </a>
        <a href={% url 'updatePassword'%} class="mb-4">
            <div class="flex items-center gap-4 bg-gray-500 px-4 min-h-[72px] py-2 justify-between rounded-xl">
              <div class="flex items-center gap-4">
                <div class="flex flex-col justify-center">
                  <p class="text-[#CBCBCB] text-sm font-normal leading-normal line-clamp-2">Update Password</p>
                </div>
              </div>
            </div>
            </a>
    </div>
</div>
{% endblock %}