<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Code Editor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/theme/dracula.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/mode/php/php.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/addon/mode/simple.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/addon/selection/active-line.min.js"></script>

</head>
<body>
    <label for="language">Select Language:</label>
    <select name="language" id="language">
        <option value="php">PHP</option>
        <option value="python">Python</option>
        <option value="javascript">JavaScript/node</option>
    </select>

    <h1>Online Code Editor</h1>
    <textarea id="code-editor"></textarea>
    <button onclick="submitCode()">Run Code</button>
    <div id="output"></div>

    <script>

        function submitCode() {
            var language = document.getElementById("language").value;
            var code = editor.getValue();
            var output = document.getElementById("output");
            output.innerHTML = "Running...";

            // Send code to backend for execution
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/execute-code/", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
  
                    document.getElementById("output").innerText = JSON.parse(xhr.responseText).output;

                }
            };
            var data = JSON.stringify({ language: language, code: code }); // Convertir les données en JSON
            xhr.send(data);

        }

        // Initialize CodeMirror
        var editor = CodeMirror.fromTextArea(document.getElementById("code-editor"), {
            lineNumbers: true,
            mode: "php", // Default mode
            theme: "dracula" // Dark mode theme
        });
    </script>
</body>
</html>

